# Node Environment
NODE_ENV=development
MODE=local

# MongoDB Configuration
MONGODB_URI=mongodb://host.docker.internal:27017
MONGODB_DATABASE=dev

# AWS Configuration (for production)
AWS_REGION=sa-east-1

# Local Development
WATCH_DIR=/app/watch
USE_MOCK_TEXTRACT=true
API_PORT=3001
