# MongoDB Configuration
MONGODB_URI=mongodb://admin:admin123@localhost:27017/youvisa?authSource=admin
MONGODB_DATABASE=youvisa

# AWS Configuration
AWS_REGION=sa-east-1
S3_BUCKET_NAME=youvisa-files-dev

# API Configuration
API_HOST=0.0.0.0
API_PORT=3000
NODE_ENV=development
IS_DEBUG=true
