environment       = "dev"
project_name      = "youvisa"
aws_region        = "sa-east-1"
mongodb_uri       = "mongodb+srv://youvisa:<password>@cluster0.pncdzcg.mongodb.net/?appName=Cluster0"
mongodb_database  = "dev"
s3_bucket_name    = "dev-youvisa-files-9k3m7x"
